.container {
  width: 100%;
  border: 2px solid;
  padding: 1em;
}
.link {
  @include with-theme("color", "color-text");

  margin-right: 1em;
  text-decoration: none;
  &:global(.selected) {
    border-bottom: 1px solid;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
.unreadCount {
  font-size: 10px;
  position: absolute;
  color: red;
}
.onlineCount,
.notConnected {
  font-size: 13px;
  float: right;
}
.notConnected{
  color: #FF5722;
}