.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  // border: 2px solid;
  margin: 0.5em 0;

  &::-webkit-scrollbar {
    width: 7px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    outline: 1px solid #607D8B;
  }
}
.innerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 1em;
}
.flexEndFix {
  // css fix because justify-content: flex-end; and vertical scroll don't play well together
  flex: 1 1 auto;
}

:global{
    .message-enter {
      opacity: 0;
    }
    .message-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
}
